# IDE configurations
.idea
.vscode
!.vscode/settings.json
!.vscode/extensions.json

# Byte-compiled / optimized / DLL files
__pycache__/

# Python
*.pyc

# PyTorch
*.pth
# Misc
logs_hydra/
ml-runs/
mlruns/
lightning_logs/
pretrained_models/*.txt

# macOS
.DS_Store